In [1]:
import pandas as pd

In [3]:
!ls station_address_data

Berkeley.csv
Fri_Apr_30_12-20-20_2021-geoencoded_Berkeley.csv
Fri_Apr_30_12-20-20_2021-geoencoded_Lafayeette.csv
Fri_Apr_30_12-20-20_2021-geoencoded_LongBeach.csv
Fri_Apr_30_12-20-20_2021-geoencoded_Misc.csv
Fri_Apr_30_12-20-20_2021-geoencoded_SanBernadino.csv
Fri_Apr_30_12-20-20_2021-geoencoded_SouthSanFrancisco.csv
Fri_Apr_30_16-52-23_2021-final_stations_addr_info-missed.csv
Fri_Apr_30_16-52-23_2021-final_stations_addr_info-new.csv
Fri_Apr_30_16-52-23_2021-final_stations_addr_info-old.csv
Fri_Apr_30_16-52-23_2021-geoencoded_Berkeley.csv
Fri_Apr_30_16-52-23_2021-geoencoded_Lafayeette.csv
Fri_Apr_30_16-52-23_2021-geoencoded_LongBeach.csv
Fri_Apr_30_16-52-23_2021-geoencoded_Misc.csv
Fri_Apr_30_16-52-23_2021-geoencoded_SanBernadino.csv
Fri_Apr_30_16-52-23_2021-geoencoded_SouthSanFrancisco.csv
Lafayeette.csv
Lafayette.csv
LongBeach.csv
Misc.csv
SanBernadino.csv
SouthSanFrancisco.csv
Zcraper.csv
full_unique_addreseses.csv
geoencoded_Berkeley.csv
geoencoded_Lafayeette.csv
geoencoded_LongBeach.csv
geoencoded_Misc.csv
geoencoded_SanBernadino.csv
geoencoded_SouthSanFrancisco.csv
geoencoded_threshold-stations.csv
manual_fix.xlsx
station_measurements_info.csv
stations_to_geoencode.csv

In [4]:
a = pd.read_csv('station_address_data/Fri_Apr_30_16-52-23_2021-final_stations_addr_info-missed.csv')

b = pd.read_csv('station_address_data/Fri_Apr_30_16-52-23_2021-final_stations_addr_info-old.csv')

In [5]:
combined = pd.concat([a,b])

In [8]:
combined[['latitude', 'longitude', 'address', 'hours-with-measurements', 'measurment-count', ]]

,latitude,longitude,address,hours-with-measurements,measurment-count
0,37.600795,-122.391258,"290 Broadway, Millbrae, CA 94030",17,436
1,37.603466,-122.394409,"525 El Camino Real, Millbrae, CA 94030",17,694
2,37.609445,-122.401375,"1375 El Camino Real, Millbrae, CA 94030",17,1016
3,37.620550,-122.411508,"333 El Camino Real, San Bruno, CA 94066",19,1237
4,37.648739,-122.383097,"500 E Jamie Ct, South San Francisco, CA 94080",18,1102
...,...,...,...,...,...
193,37.899269,-122.298414,280 El Cerrito Plaza,17,91
194,37.655462,-122.400932,250 Gateway Blvd,16,418
195,37.579749,-122.350650,501 Primrose Rd,16,218
196,37.663411,-122.394875,151 Oyster Point Blvd,16,206
197,37.806087,-122.267285,1717 Webster St,13,114

In [118]:
f = pd.read_csv('utilization_rates_data/Sat_May_1_15-04-25_2021_processed.csv')

/Library/Python/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [59]:
f.head()

,Unnamed: 0,_id,time,datetime,connection_type,available,power_kwh,address,day_of_week,day_of_week_num,month,date,hour,minutes,seconds,available_numerator,available_denominator,power_kwh_num,original_addy,mapped_addy
0,0,607631c1fcfd04e161e08ddd,1.618359e+09,Tue Apr 13 17:05:10 2021,CHAdeMO,3/3,50 kW,329 Miller Ave,Tue,2,Apr,13.0,17,5,10,3,3,50.0,329 Miller Ave,"329 Miller Ave, South San Francisco, CA 94080"
1,1,607631c1fcfd04e161e08dde,1.618359e+09,Tue Apr 13 17:05:10 2021,CCS,3/3,50 kW,329 Miller Ave,Tue,2,Apr,13.0,17,5,10,3,3,50.0,329 Miller Ave,"329 Miller Ave, South San Francisco, CA 94080"
2,2,607632edfcfd04e161e08e1e,1.618359e+09,Tue Apr 13 17:10:11 2021,CHAdeMO,3/3,50 kW,329 Miller Ave,Tue,2,Apr,13.0,17,10,11,3,3,50.0,329 Miller Ave,"329 Miller Ave, South San Francisco, CA 94080"
3,3,607632edfcfd04e161e08e1f,1.618359e+09,Tue Apr 13 17:10:11 2021,CCS,3/3,50 kW,329 Miller Ave,Tue,2,Apr,13.0,17,10,11,3,3,50.0,329 Miller Ave,"329 Miller Ave, South San Francisco, CA 94080"
4,4,607632f9fcfd04e161e08e2b,1.618359e+09,Tue Apr 13 17:10:11 2021,CHAdeMO,3/3,50 kW,329 Miller Ave,Tue,2,Apr,13.0,17,10,11,3,3,50.0,329 Miller Ave,"329 Miller Ave, South San Francisco, CA 94080"

In [61]:
len(f['mapped_addy'].unique())

275

In [17]:
coords = [('33.7666633', '-118.1841092'),
 ('33.8022142', '-118.1680387'),
 ('33.77247670000001', '-118.191701'),
 ('37.7152637', '-122.472597'),
 ('37.7141264', '-122.4724201'),
 ('37.7614998', '-122.438589'),
 ('37.6562039', '-122.4112458'),
 ('37.6738414', '-122.4642387'),
 ('37.6587123', '-122.3829369'),
 ('37.6022351', '-122.3929446'),
 ('37.65331380000001', '-122.381194'),
 ('37.58641400000001', '-122.363623'),
 ('37.676596', '-122.45879879999998'),
 ('37.66304279999999', '-122.4703859'),
 ('37.6538209', '-122.390422'),
 ('37.6495343', '-122.4042071'),
 ('37.6635589', '-122.3907097'),
 ('37.6555795', '-122.4031008'),
 ('37.6577593', '-122.4016102'),
 ('37.653227', '-122.3991875'),
 ('37.65006109999999', '-122.3831936'),
 ('37.6385128', '-122.3977007'),
 ('37.6577249', '-122.4001735'),
 ('37.6724726', '-122.471266'),
 ('37.656356', '-122.402126'),
 ('37.630273', '-122.4682894'),
 ('37.6210696', '-122.4297369'),
 ('37.654726', '-122.39301709999998'),
 ('37.6625226', '-122.3962184'),
 ('37.657143100000006', '-122.4023378'),
 ('37.6271537', '-122.42243700000002'),
 ('37.8378528', '-122.30171609999998'),
 ('37.8403339', '-122.29384509999998'),
 ('37.79943', '-122.2532473'),
 ('37.8196078', '-122.2663192'),
 ('37.8807242', '-122.2978181'),
 ('37.8328055', '-122.2801427'),
 ('37.81276870000001', '-122.2609981'),
 ('37.84426699999999', '-122.293271'),
 ('37.78868050000001', '-122.2793895'),
 ('37.8317539', '-122.2919709'),
 ('37.9256149', '-122.0168814'),
 ('37.934176', '-122.0721152'),
 ('37.83786370000001', '-122.2956033'),
 ('37.8958235', '-122.0574966'),
 ('37.8933586', '-122.117205'),
 ('37.9418802', '-122.0585521'),
 ('37.9688388', '-122.057022'),
 ('37.9945718', '-122.1018517'),
 ('37.9537739', '-121.9659741'),
 ('37.7945245', '-122.2611597'),
 ('37.7926536', '-122.2609134'),
 ('37.9128769', '-122.0409498'),
 ('37.86736120000001', '-122.2595088'),
 ('37.799695', '-122.217392'),
 ('37.80077929999999', '-122.2652638'),
 ('37.89559970000001', '-122.0614447'),
 ('37.9005917', '-122.06368059999998'),
 ('37.9723407', '-122.0578051'),
 ('37.8991844', '-122.05887659999998'),
 ('37.9075559', '-122.0641249'),
 ('37.80678899999999', '-122.2656103'),
 ('37.9015678', '-122.0611506'),
 ('37.8941885', '-122.0591973'),
 ('37.9119134', '-122.0395847'),
 ('37.869545', '-122.2909521'),
 ('37.8705912', '-122.2699082'),
 ('37.842625', '-122.2940222'),
 ('37.8382065', '-122.2938757'),
 ('37.8078667', '-122.2648428'),
 ('37.804813', '-122.275541'),
 ('37.8592257', '-122.24305459999998'),
 ('37.8205', '-122.2654292'),
 ('37.82736570000001', '-122.2091012'),
 ('37.8687716', '-122.2667576'),
 ('37.826318', '-122.253741'),
 ('37.8637805', '-122.2670814'),
 ('37.7882086', '-122.2530258'),
 ('37.82557070000001', '-122.2581558'),
 ('37.8392504', '-122.2981097'),
 ('37.8560928', '-122.25872'),
 ('37.8127537', '-122.2654053'),
 ('37.8535336', '-122.2903762'),
 ('37.89067960000001', '-122.2964671'),
 ('37.8048667', '-122.2734991'),
 ('37.8429061', '-122.295611'),
 ('37.8097414', '-122.2442512'),
 ('37.8574194', '-122.2902654'),
 ('37.8616672', '-122.2676928'),
 ('37.8211524', '-122.2643749'),
 ('37.8581676', '-122.2896452'),
 ('37.8347972', '-122.2919139'),
 ('37.91316610000001', '-122.0662557'),
 ('37.9717385', '-122.0540919'),
 ('37.820863', '-121.9956077'),
 ('37.9126105', '-122.0396177'),
 ('37.9614251', '-122.054357'),
 ('37.9863454', '-122.0674987'),
 ('37.8619091', '-122.1288737'),
 ('37.925463', '-122.0566668'),
 ('37.915705300000006', '-122.3109731'),
 ('37.8275572', '-122.2538563'),
 ('37.888279', '-122.134996'),
 ('37.8920162', '-122.1208211'),
 ('37.9838036', '-122.0338474'),
 ('37.9841864', '-122.04618899999998'),
 ('37.9775723', '-122.0356376'),
 ('37.915187', '-122.3238165'),
 ('37.9260485', '-122.0562229'),
 ('37.927919', '-122.0577767'),
 ('37.9549151', '-122.0904342'),
 ('37.9549151', '-122.0904342'),
 ('37.988051', '-122.0868513'),
 ('37.9920555', '-122.0877873'),
 ('40.4475498', '-80.0695135'),
 ('37.9733625', '-122.0320691'),
 ('37.9250901', '-122.0243867'),
 ('37.83549770000001', '-122.1297804'),
 ('37.8211818', '-121.9974719'),
 ('37.9444011', '-121.977126'),
 ('37.8952909', '-122.0613846'),
 ('37.9672109', '-122.0742835'),
 ('37.9828996', '-122.0337565'),
 ('37.9691446', '-122.0740818'),
 ('37.909502', '-122.066246'),
 ('37.9274128', '-122.0185691'),
 ('37.95353710000001', '-122.05973'),
 ('37.841516', '-122.125835'),
 ('37.9260898', '-122.0522716'),
 ('37.9270408', '-122.0591973'),
 ('37.908592', '-122.0664777'),
 ('37.9299207', '-122.0597078'),
 ('37.94728449999999', '-122.0637698'),
 ('37.9173594', '-122.03833'),
 ('37.9442019', '-122.0614693'),
 ('37.8201335', '-121.9998261'),
 ('37.9799605', '-122.0300295'),
 ('37.97864910000001', '-122.033046'),
 ('37.9547495', '-122.0420942'),
 ('38.6399398', '-120.5279096'),
 ('37.9685658', '-122.0712718'),
 ('37.6587123', '-122.38293689999999'),
 ('37.6022351', '-122.39294459999999'),
 ('37.586414000000005', '-122.363623'),
 ('37.65331380000001', '-122.381194'),
 ('37.6577249', '-122.40017350000001'),
 ('37.6688473', '-122.39000159999998'),
 ('37.630272999999995', '-122.4682894'),
 ('37.6705294', '-122.38840829999998'),
 ('37.638512799999994', '-122.3977007'),
 ('37.6520344', '-122.38198249999999'),
 ('37.6625226', '-122.39621840000001'),
 ('37.656356', '-122.402126'),
 ('37.6538209', '-122.390422'),
 ('37.673186799999996', '-122.381123'),
 ('37.7142773', '-122.47354879999999'),
 ('37.7565937', '-122.2514747'),
 ('37.654726000000004', '-122.39301709999998'),
 ('37.8412352', '-122.2938314'),
 ('37.6558458', '-122.3832743'),
 ('37.67879310000001', '-122.48386200000002'),
 ('37.63215', '-122.4602362'),
 ('37.657143100000006', '-122.4023378'),
 ('37.6729283', '-122.38314150000001'),
 ('37.6652573', '-122.38274309999998'),
 ('37.6271537', '-122.42243700000002'),
 ('37.5951749', '-122.5040693'),
 ('37.652212', '-122.39493610000001'),
 ('37.6696031', '-122.46941299999999'),
 ('37.6272237', '-122.42451640000002'),
 ('37.8523257', '-122.2408132'),
 ('37.6561623', '-122.40363190000001'),
 ('37.6594725', '-122.4006227'),
 ('37.6626591', '-122.3956172'),
 ('37.650729600000005', '-122.39265690000002'),
 ('37.6492445', '-122.38278740000001'),
 ('37.7006032', '-122.47025320000002'),
 ('37.6626205', '-122.39676200000001'),
 ('37.812378300000006', '-122.3004827'),
 ('37.62131289999999', '-122.3789554'),
 ('37.6023064', '-122.39695159999998'),
 ('37.6156624', '-122.38467490000001'),
 ('37.635963399999994', '-122.3994938'),
 ('37.621800799999995', '-122.412172'),
 ('37.6462671', '-122.39407309999999'),
 ('37.5547203', '-122.3165489'),
 ('37.690517299999996', '-122.4593295'),
 ('37.5969424', '-122.3736252'),
 ('37.601766999999995', '-122.36981840000001'),
 ('37.630092100000006', '-122.4660308'),
 ('37.4505321', '-122.17915719999999'),
 ('37.93478899999999', '-122.3429679'),
 ('37.6331783', '-122.3967654'),
 ('37.603325399999996', '-122.37605970000001'),
 ('37.8992693', '-122.298414'),
 ('37.655462', '-122.4009325'),
 ('37.5797495', '-122.35064969999999'),
 ('37.6634114', '-122.3948751'),
 ('37.806086799999996', '-122.26728529999998'),
 ('37.600795', '-122.39125800000001'),
 ('37.603466', '-122.39440900000001'),
 ('37.609444599999996', '-122.401375'),
 ('37.620549700000005', '-122.41150829999998'),
 ('37.64873920000001', '-122.38309720000001'),
 ('37.6858647', '-122.39942930000001'),
 ('37.6976342', '-122.46266990000001'),
 ('37.69937279999999', '-122.4837221'),
 ('37.7652024', '-122.24356409999999'),
 ('37.7665086', '-122.24256709999999'),
 ('37.769184300000006', '-122.23294950000002'),
 ('37.776861600000004', '-122.2763104'),
 ('37.7929966', '-122.2554547'),
 ('37.7940963', '-122.2725223'),
 ('37.7993277', '-122.2758518'),
 ('37.8002806', '-122.2779025'),
 ('37.8004548', '-122.27170249999999'),
 ('37.8026054', '-122.27599280000001'),
 ('37.8058294', '-122.27257859999999'),
 ('37.8058376', '-122.2649456'),
 ('37.806447', '-122.27315359999999'),
 ('37.8077047', '-122.26802099999999'),
 ('37.812568', '-122.264583'),
 ('37.8226285', '-122.25953909999998'),
 ('37.8391784', '-122.29276829999999'),
 ('37.839350399999994', '-122.29814329999999'),
 ('37.8556066', '-122.26024869999999'),
 ('37.8642141', '-122.3134533'),
 ('37.8683341', '-122.30067609999999'),
 ('37.873462599999996', '-122.30512659999998'),
 ('37.876104999999995', '-122.2952268'),
 ('37.898365000000005', '-122.3077125')]

In [18]:
lats = []
longs = []
for pair in coords:
    lats.append(pair[0])
    longs.append(pair[1])

In [32]:
pd.DataFrame({'latitude':lats, 'longitude':longs}).drop_duplicates().sort_values(['latitude', 'longitude'])

              latitude            longitude
0           33.7666633         -118.1841092
2    33.77247670000001          -118.191701
1           33.8022142         -118.1680387
190         37.4505321  -122.17915719999999
185         37.5547203         -122.3165489
..                 ...                  ...
112          37.988051         -122.0868513
113         37.9920555         -122.0877873
48          37.9945718         -122.1018517
139         38.6399398         -120.5279096
114         40.4475498          -80.0695135

[225 rows x 2 columns]

In [33]:
combined.drop_duplicates(['latitude', 'longitude']).sort_values(['latitude', 'longitude'])

,Unnamed: 0,address,hours-with-measurements,measurment-count,original_addy,mapped_addy,source,latitude,longitude
0,0,"707 E Ocean Blvd, Long Beach, CA 90802",24,5091,"707 E Ocean Blvd, Long Beach, CA 90802","707 E Ocean Blvd, Long Beach, CA 90802",NaN,33.766663,-118.184109
2,2,"50 E 5th St, Long Beach, CA 90802",24,3266,"50 E 5th St, Long Beach, CA 90802","50 E 5th St, Long Beach, CA 90802",NaN,33.772477,-118.191701
1,1,"2475 Cherry Ave, Signal Hill, CA 90755",24,3496,"2475 Cherry Ave, Signal Hill, CA 90755","2475 Cherry Ave, Signal Hill, CA 90755",NaN,33.802214,-118.168039
189,69,525 El Camino Real,17,675,525 El Camino Real,525 El Camino Real,NaN,37.450532,-122.179157
184,63,1375 El Camino Real,17,1012,1375 El Camino Real,1375 El Camino Real,NaN,37.554720,-122.316549
...,...,...,...,...,...,...,...,...,...
111,80,255 Glacier Dr,15,180,255 Glacier Dr,255 Glacier Dr,NaN,37.988051,-122.086851
112,81,1875 Arnold Dr,15,180,1875 Arnold Dr,1875 Arnold Dr,NaN,37.992055,-122.087787
48,17,1145 Arnold Dr,24,10004,1145 Arnold Dr,1145 Arnold Dr,NaN,37.994572,-122.101852
138,107,CA-4,14,164,CA-4,CA-4,NaN,38.639940,-120.527910
113,82,112 W. Prospetc Ave,15,179,112 W. Prospetc Ave,112 W. Prospetc Ave,NaN,40.447550,-80.069513

In [69]:
# len(combined['mapped_addy'].unique())
# for addy in combined['mapped_addy']:
#     print(addy)
len(f['mapped_addy'].unique())

275

In [71]:
collected = []
for c in combined['mapped_addy'].unique():
    if c in f['mapped_addy'].unique():
        collected.append(c)

In [73]:
flipped = []
for c in f['mapped_addy'].unique():
    if c in combined['mapped_addy'].unique():
        flipped.append(c)

In [72]:
len(collected)

129

In [74]:
len(flipped)

129

In [ ]:
built = pd.DataFrame()
for addy in combined['mapped_addy']:
    retained = f[f['mapped_addy']==addy]
    built = pd.concat([built,retained])

In [63]:
df = pd.merge(left=built, right=combined, on='mapped_addy')

In [65]:
len(built['mapped_addy'].unique()), len(combined['mapped_addy'].unique()),

(129, 230)

In [42]:
print(df.columns, len(df))
df.head()

Index(['Unnamed: 0_x', 'Unnamed: 0.1', '_id', 'time', 'datetime',
       'connection_type', 'available', 'power_kwh', 'address_x', 'day_of_week',
       'day_of_week_num', 'month', 'date', 'hour', 'minutes', 'seconds',
       'available_numerator', 'available_denominator', 'power_kwh_num',
       'original_addy_x', 'mapped_addy', 'Unnamed: 0_y', 'address_y',
       'hours-with-measurements', 'measurment-count', 'original_addy_y',
       'source', 'latitude', 'longitude'],
      dtype='object') 682886

,Unnamed: 0_x,Unnamed: 0.1,_id,time,datetime,connection_type,available,power_kwh,address_x,day_of_week,...,original_addy_x,mapped_addy,Unnamed: 0_y,address_y,hours-with-measurements,measurment-count,original_addy_y,source,latitude,longitude
0,481583,338,6076347dfcfd04e161e08f2f,1.618359e+09,Tue Apr 13 17:16:07 2021,J1772,4/4,7.2 kW,290 Broadway,Tue,...,290 Broadway,"290 Broadway, Millbrae, CA 94030",116,"290 Broadway, Millbrae, CA 94030",17,436,290 Broadway,SouthSanFrancisco,37.600795,-122.391258
1,481584,424,607634f5fcfd04e161e08f85,1.618359e+09,Tue Apr 13 17:18:08 2021,J1772,4/4,7.2 kW,290 Broadway,Tue,...,290 Broadway,"290 Broadway, Millbrae, CA 94030",116,"290 Broadway, Millbrae, CA 94030",17,436,290 Broadway,SouthSanFrancisco,37.600795,-122.391258
2,481585,510,6076356dfcfd04e161e08fdb,1.618360e+09,Tue Apr 13 17:20:08 2021,J1772,4/4,7.2 kW,290 Broadway,Tue,...,290 Broadway,"290 Broadway, Millbrae, CA 94030",116,"290 Broadway, Millbrae, CA 94030",17,436,290 Broadway,SouthSanFrancisco,37.600795,-122.391258
3,481586,2474,60764661fcfd04e161e09787,1.618364e+09,Tue Apr 13 18:32:09 2021,J1772,3/4,7.2 kW,290 Broadway,Tue,...,290 Broadway,"290 Broadway, Millbrae, CA 94030",116,"290 Broadway, Millbrae, CA 94030",17,436,290 Broadway,SouthSanFrancisco,37.600795,-122.391258
4,481587,2547,607646edfcfd04e161e097d0,1.618364e+09,Tue Apr 13 18:34:35 2021,J1772,3/4,7.2 kW,290 Broadway,Tue,...,290 Broadway,"290 Broadway, Millbrae, CA 94030",116,"290 Broadway, Millbrae, CA 94030",17,436,290 Broadway,SouthSanFrancisco,37.600795,-122.391258

In [75]:
station_cols = ['connection_type', 'power_kwh', 'power_kwh_num', 
              'mapped_addy', 'latitude', 'longitude',
               'available_denominator']
time_cols = ['day_of_week', 'day_of_week_num', 'month', 'date', 'hour', 'minutes',
       'seconds',]

## average all columns, while getting rid of time related columns
# drop time related columns since one station should have a single score regardless of time
# ignore charging stations that have no denominator
UR_by_stations_first_group = df.drop(time_cols, axis=1)[df['available_denominator'] != 0].groupby(by=station_cols).agg('mean').reset_index()

address_cols = ['mapped_addy', 'latitude', 'longitude']
UR_by_stations = UR_by_stations_first_group.groupby(address_cols).agg('sum').reset_index()
UR_by_stations.head()

UR_by_stations['availability_rate'] = UR_by_stations['available_numerator']/UR_by_stations['available_denominator']

UR_by_stations['utilization_rate'] = 1-UR_by_stations['availability_rate']

UR_by_stations['total_output_kwh'] = UR_by_stations['power_kwh_num']*UR_by_stations['utilization_rate']

UR_by_stations['utilization_numerator'] = UR_by_stations['available_denominator']*UR_by_stations['utilization_rate']

In [77]:
kept_cols = ['mapped_addy', 'latitude', 'longitude', 'power_kwh_num', 'available_denominator', 'available_numerator', 'availability_rate', 'utilization_rate', 'total_output_kwh', 'utilization_numerator']
UR_by_stations[kept_cols].to_csv('utilization_rates_data/final_113.csv')

In [78]:
!ls data

X_matrix_april_12.csv                full_weekly_timeseries_with_POIs.csv
address_mapper.csv                   grocery-stores-QueryResult.csv
final_matrix.csv                     official_aggregated_datasets.csv

In [86]:
final_matrix = pd.read_csv('data/final_matrix.csv').drop(['Unnamed: 0', '0'], axis=1)

In [89]:
final_matrix
final_combined = pd.merge(left=final_matrix, right=combined, left_on=['lat', 'lon'], right_on=['latitude', 'longitude'])

In [96]:
final_matrix

,lodging,supermarket,pharmacy,park,restaurant,clothing_store,store,school,gym,library,local_government_office,doctor,stadium,museum,church,synagogue,lat,lon
0,22,0,1,5,37,20,42,2,1,0,7,16,0,1,6,0,33.766663,-118.184109
1,1,1,2,5,19,0,54,0,5,0,0,3,0,1,0,0,33.802214,-118.168039
2,14,3,8,5,60,19,48,9,9,1,12,32,0,1,13,0,33.772477,-118.191701
3,0,1,0,4,9,1,10,8,3,0,0,1,0,0,11,2,37.715264,-122.472597
4,0,1,0,4,9,1,9,7,3,0,1,1,0,0,10,2,37.714126,-122.472420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,0,0,0,4,3,0,3,1,0,0,1,0,0,0,0,0,37.864214,-122.313453
227,1,0,0,1,14,20,44,10,8,0,1,27,0,2,0,0,37.868334,-122.300676
228,0,0,0,1,3,2,31,2,1,0,0,14,0,1,0,0,37.873463,-122.305127
229,2,1,3,1,13,5,51,12,4,0,1,4,0,0,3,0,37.876105,-122.295227
230,1,2,0,4,17,3,41,4,4,0,3,3,0,0,0,0,37.898365,-122.307712

In [98]:
!ls station_address_data

fns = ['station_address_data/Fri_Apr_30_12-20-20_2021-geoencoded_Berkeley.csv',
       'station_address_data/Fri_Apr_30_12-20-20_2021-geoencoded_Lafayeette.csv',
       'station_address_data/Fri_Apr_30_12-20-20_2021-geoencoded_LongBeach.csv',
       'station_address_data/Fri_Apr_30_12-20-20_2021-geoencoded_Misc.csv',
       'station_address_data/Fri_Apr_30_12-20-20_2021-geoencoded_SouthSanFrancisco.csv',
      ]
combined_geoencoded = pd.DataFrame()
for f in fns:
    combined_geoencoded = pd.concat([combined_geoencoded, pd.read_csv(f)])

Berkeley.csv
Fri_Apr_30_12-20-20_2021-geoencoded_Berkeley.csv
Fri_Apr_30_12-20-20_2021-geoencoded_Lafayeette.csv
Fri_Apr_30_12-20-20_2021-geoencoded_LongBeach.csv
Fri_Apr_30_12-20-20_2021-geoencoded_Misc.csv
Fri_Apr_30_12-20-20_2021-geoencoded_SanBernadino.csv
Fri_Apr_30_12-20-20_2021-geoencoded_SouthSanFrancisco.csv
Fri_Apr_30_16-52-23_2021-final_stations_addr_info-missed.csv
Fri_Apr_30_16-52-23_2021-final_stations_addr_info-new.csv
Fri_Apr_30_16-52-23_2021-final_stations_addr_info-old.csv
Fri_Apr_30_16-52-23_2021-geoencoded_Berkeley.csv
Fri_Apr_30_16-52-23_2021-geoencoded_Lafayeette.csv
Fri_Apr_30_16-52-23_2021-geoencoded_LongBeach.csv
Fri_Apr_30_16-52-23_2021-geoencoded_Misc.csv
Fri_Apr_30_16-52-23_2021-geoencoded_SanBernadino.csv
Fri_Apr_30_16-52-23_2021-geoencoded_SouthSanFrancisco.csv
Lafayeette.csv
Lafayette.csv
LongBeach.csv
Misc.csv
SanBernadino.csv
SouthSanFrancisco.csv
Zcraper.csv
full_unique_addreseses.csv
geoencoded_Berkeley.csv
geoencoded_Lafayeette.csv
geoencoded_LongBeach.csv
geoencoded_Misc.csv
geoencoded_SanBernadino.csv
geoencoded_SouthSanFrancisco.csv
geoencoded_threshold-stations.csv
station_measurements_info.csv
stations_to_geoencode.csv

In [102]:

final_combined = pd.merge(left=final_matrix, right=combined_geoencoded, left_on=['lat', 'lon'], right_on=['latitude', 'longitude']).drop_duplicates('mapped_addy')

In [103]:
final_combined

,lodging,supermarket,pharmacy,park,restaurant,clothing_store,store,school,gym,library,...,museum,church,synagogue,lat,lon,Unnamed: 0,original_addy,mapped_addy,latitude,longitude
0,22,0,1,5,37,20,42,2,1,0,...,1,6,0,33.766663,-118.184109,1,"707 E Ocean Blvd, Long Beach, CA 90802","707 E Ocean Blvd, Long Beach, CA 90802",33.766663,-118.184109
2,1,1,2,5,19,0,54,0,5,0,...,1,0,0,33.802214,-118.168039,0,"2475 Cherry Ave, Signal Hill, CA 90755","2475 Cherry Ave, Signal Hill, CA 90755",33.802214,-118.168039
4,0,1,0,4,9,1,10,8,3,0,...,0,11,2,37.715264,-122.472597,113,100 Font Blvd,100 Font Blvd,37.715264,-122.472597
6,0,1,0,4,9,1,9,7,3,0,...,0,10,2,37.714126,-122.472420,288,55 Chumasero Dr,55 Chumasero Dr,37.714126,-122.472420
8,2,1,8,20,46,13,42,8,8,0,...,4,5,0,37.761500,-122.438589,56,20-210 Eureka Dr Dr,20-210 Eureka Dr Dr,37.761500,-122.438589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,12,0,1,5,60,13,45,3,4,0,...,2,8,0,37.800281,-122.277902,38,"551-599 7th St, Oakland, CA 94607","551-599 7th St, Oakland, CA 94607",37.800281,-122.277902
463,6,0,12,5,60,19,38,12,8,3,...,1,4,0,37.805838,-122.264946,81,"1800 Harrison St, Oakland, CA 94612","1800 Harrison St, Oakland, CA 94612",37.805838,-122.264946
466,4,3,3,0,60,19,36,19,12,2,...,1,16,1,37.812568,-122.264583,43,"2330 Webster St, Oakland, CA 94612","2330 Webster St, Oakland, CA 94612",37.812568,-122.264583
469,6,1,20,6,14,2,38,7,2,2,...,2,5,0,37.822629,-122.259539,21,"3510 Broadway, Oakland, CA 94611","3510 Broadway, Oakland, CA 94611",37.822629,-122.259539
472,0,0,0,4,3,0,3,1,0,0,...,0,0,0,37.864214,-122.313453,77,"235 University Ave, Berkeley, CA 94710","235 University Ave, Berkeley, CA 94710",37.864214,-122.313453

In [113]:
f = pd.merge(f, combined_geoencoded, left_on='mapped_addy', right_on='mapped_addy')

In [123]:
f.groupby('')

,Unnamed: 0,_id,time,datetime,connection_type,available,power_kwh,address,day_of_week,day_of_week_num,month,date,hour,minutes,seconds,available_numerator,available_denominator,power_kwh_num,original_addy,mapped_addy
0,0,607631c1fcfd04e161e08ddd,1.618359e+09,Tue Apr 13 17:05:10 2021,CHAdeMO,3/3,50 kW,329 Miller Ave,Tue,2,Apr,13.0,17,5,10,3,3,50.0,329 Miller Ave,"329 Miller Ave, South San Francisco, CA 94080"
1,1,607631c1fcfd04e161e08dde,1.618359e+09,Tue Apr 13 17:05:10 2021,CCS,3/3,50 kW,329 Miller Ave,Tue,2,Apr,13.0,17,5,10,3,3,50.0,329 Miller Ave,"329 Miller Ave, South San Francisco, CA 94080"
2,2,607632edfcfd04e161e08e1e,1.618359e+09,Tue Apr 13 17:10:11 2021,CHAdeMO,3/3,50 kW,329 Miller Ave,Tue,2,Apr,13.0,17,10,11,3,3,50.0,329 Miller Ave,"329 Miller Ave, South San Francisco, CA 94080"
3,3,607632edfcfd04e161e08e1f,1.618359e+09,Tue Apr 13 17:10:11 2021,CCS,3/3,50 kW,329 Miller Ave,Tue,2,Apr,13.0,17,10,11,3,3,50.0,329 Miller Ave,"329 Miller Ave, South San Francisco, CA 94080"
4,4,607632f9fcfd04e161e08e2b,1.618359e+09,Tue Apr 13 17:10:11 2021,CHAdeMO,3/3,50 kW,329 Miller Ave,Tue,2,Apr,13.0,17,10,11,3,3,50.0,329 Miller Ave,"329 Miller Ave, South San Francisco, CA 94080"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456721,1456721,6088808b483c8d594d0269ec,1.619559e+09,Tue Apr 27 14:22:19 2021,Tesla,40,72 kW,"3 Serramonte Center, Daly City, CA 94015",Tue,2,Apr,27.0,14,22,19,40,0,72.0,"3 Serramonte Center, Daly City, CA 94015","3 Serramonte Center, Daly City, CA 94015"
1456722,1456722,6088ea09483c8d594d026bbe,1.619586e+09,Tue Apr 27 21:52:25 2021,Tesla,40,72 kW,"3 Serramonte Center, Daly City, CA 94015",Tue,2,Apr,27.0,21,52,25,40,0,72.0,"3 Serramonte Center, Daly City, CA 94015","3 Serramonte Center, Daly City, CA 94015"
1456723,1456723,60887be3483c8d594d026998,1.619557e+09,Tue Apr 27 14:02:27 2021,J1772,10/10,7.2 kW,"800 S Airport Blvd, San Francisco, CA 94128",Tue,2,Apr,27.0,14,2,27,10,10,7.2,"800 S Airport Blvd, San Francisco, CA 94128","800 S Airport Blvd, San Francisco, CA 94128"
1456724,1456724,60888097483c8d594d0269ed,1.619559e+09,Tue Apr 27 14:22:31 2021,J1772,10/10,7.2 kW,"800 S Airport Blvd, San Francisco, CA 94128",Tue,2,Apr,27.0,14,22,31,10,10,7.2,"800 S Airport Blvd, San Francisco, CA 94128","800 S Airport Blvd, San Francisco, CA 94128"
1456725,1456725,6088ea15483c8d594d026bbf,1.619586e+09,Tue Apr 27 21:52:37 2021,J1772,9/10,7.2 kW,"800 S Airport Blvd, San Francisco, CA 94128",Tue,2,Apr,27.0,21,52,37,9,10,7.2,"800 S Airport Blvd, San Francisco, CA 94128","800 S Airport Blvd, San Francisco, CA 94128"

In [125]:

station_cols = ['connection_type', 'power_kwh', 'power_kwh_num', 
              'mapped_addy', #'latitude', 'longitude',
               'available_denominator']
time_cols = ['day_of_week', 'day_of_week_num', 'month', 'date', 'hour', 'minutes',
       'seconds',]

## average all columns, while getting rid of time related columns
# drop time related columns since one station should have a single score regardless of time
# ignore charging stations that have no denominator
UR_by_stations_first_group = f.drop(time_cols, axis=1)[f['available_denominator'] != 0].groupby(by=station_cols).agg('mean').reset_index()

address_cols = ['mapped_addy']#, 'latitude', 'longitude']
UR_by_stations = UR_by_stations_first_group.groupby(address_cols).agg('sum').reset_index()
UR_by_stations.head()

UR_by_stations['availability_rate'] = UR_by_stations['available_numerator']/UR_by_stations['available_denominator']

UR_by_stations['utilization_rate'] = 1-UR_by_stations['availability_rate']

UR_by_stations['total_output_kwh'] = UR_by_stations['power_kwh_num']*UR_by_stations['utilization_rate']

UR_by_stations['utilization_numerator'] = UR_by_stations['available_denominator']*UR_by_stations['utilization_rate']

In [126]:
UR_by_stations

,mapped_addy,power_kwh_num,available_denominator,Unnamed: 0,time,available_numerator,availability_rate,utilization_rate,total_output_kwh,utilization_numerator
0,"1 Bush St, San Francisco, CA 94104",5.00,2,5.126230e+05,1.618878e+09,2.000000,1.000000,0.000000,0.000000,0.000000
1,"1 Corporate Dr, South San Francisco, CA 94080",7.20,2,1.428108e+06,1.617807e+09,2.000000,1.000000,0.000000,0.000000,0.000000
2,"1 Library Ave, Millbrae, CA 94030",7.20,4,5.062619e+05,1.618902e+09,3.512111,0.878028,0.121972,0.878201,0.487889
3,"1 Old Bayshore Hwy, Millbrae, CA 94030",7.20,2,1.453874e+06,1.618997e+09,0.000000,0.000000,1.000000,7.200000,2.000000
4,100 Font Blvd,7.20,2,5.083760e+05,1.618940e+09,1.770186,0.885093,0.114907,0.827329,0.229814
...,...,...,...,...,...,...,...,...,...,...
236,CA-4,7.20,6,1.348864e+06,1.618452e+09,1.298780,0.216463,0.783537,5.641463,4.701220
237,"Corporate Dr, South San Francisco, CA 94080",6.24,6,4.217225e+05,1.618864e+09,0.000000,0.000000,1.000000,6.240000,6.000000
238,"San Bruno, CA 94066",21.60,9,4.362489e+06,4.857608e+09,7.760870,0.862319,0.137681,2.973913,1.239130
239,"San Francisco International Airport, San Franc...",36.00,96,3.465017e+06,8.094808e+09,40.124156,0.417960,0.582040,20.953442,55.875844
240,"Skyline College, San Bruno, CA 94066",7.20,8,5.053245e+05,1.618843e+09,7.939281,0.992410,0.007590,0.054647,0.060719

In [130]:
geo_util= pd.merge(left=combined_geoencoded, right=UR_by_stations,on='mapped_addy')

In [147]:
consolidated = pd.merge(left=geo_util, right=final_combined, on='mapped_addy')

In [148]:
cols_to_drop= ['Unnamed: 0_x', 'original_addy_x', 'original_addy_y', 'latitude_x',
       'longitude_x', 'latitude_y', 'longitude_y', 'Unnamed: 0', 'Unnamed: 0_y', 'time']
retained_consoliddated = consolidated.drop(cols_to_drop, axis=1)

In [150]:
retained_consoliddated.drop_duplicates().to_csv('data/final_station_data.csv')

In [151]:
retained_consoliddated.drop_duplicates()

,mapped_addy,power_kwh_num,available_denominator,available_numerator,availability_rate,utilization_rate,total_output_kwh,utilization_numerator,lodging,supermarket,...,gym,library,local_government_office,doctor,stadium,museum,church,synagogue,lat,lon
0,"6410 Overland Ave, Emeryville, CA 94608",15.2,24,10.000000,0.416667,0.583333,8.866667,14.000000,3,0,...,6,0,3,60,0,0,0,0,37.844267,-122.293271
3,"1025 Gilman St, Berkeley, CA 94710",103.6,5,4.065819,0.813164,0.186836,19.356240,0.934181,0,3,...,7,0,2,3,1,0,2,0,37.880724,-122.297818
6,"2000 Powell St Suite 100, Emeryville, CA 94608",28.4,69,63.261403,0.916832,0.083168,2.361973,5.738597,1,2,...,3,0,1,60,0,0,0,0,37.837853,-122.301716
10,"247 E 18th St, Oakland, CA 94606",7.2,8,3.000000,0.375000,0.625000,4.500000,5.000000,1,0,...,6,0,0,9,0,2,7,0,37.799430,-122.253247
13,"5901 Shellmound St, Emeryville, CA 94608",110.8,7,6.014539,0.859220,0.140780,15.598442,0.985461,8,1,...,3,0,2,60,0,0,0,0,37.840334,-122.293845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,"800 S Airport Blvd, San Francisco, CA 94128",7.2,10,8.459677,0.845968,0.154032,1.109032,1.540323,0,0,...,0,0,0,0,0,0,0,0,37.633178,-122.396765
351,"San Bruno, CA 94066",21.6,9,7.760870,0.862319,0.137681,2.973913,1.239130,0,0,...,0,0,0,0,0,0,0,0,37.621070,-122.429737
352,"1227 Linda Mar Shopping Center, Pacifica, CA 9...",100.0,4,3.605166,0.901292,0.098708,9.870849,0.394834,1,1,...,2,1,0,2,0,0,0,0,37.595175,-122.504069
353,"1 Corporate Dr, South San Francisco, CA 94080",7.2,2,2.000000,1.000000,0.000000,0.000000,0.000000,11,0,...,0,0,1,0,0,0,1,0,37.657143,-122.402338
354,"1625 Adrian Rd, Burlingame, CA 94010",28.5,1,0.000000,0.000000,1.000000,28.500000,1.000000,0,0,...,2,0,0,8,0,0,0,0,37.596942,-122.373625

In [153]:
import sklearn
sklearn.__version__

'0.20.3'